{
  "$schema": "http://json.schemastore.org/swcrc",
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "paths": {
      "@/*": [
        "./src/*"
      ]
    }
  },
  "exclude": [
    "./common.ts",
    "./**/__mocks__/*",
    "./**/__tests__/*"
  ]
}
